<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Teste</title>
    @Styles.Render("~/Content/css/style_main.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <nav>
            <ul>
                @Html.ActionLink("Cadastro","Cadastro","Home")
                @Html.ActionLink("Index","Index","Home")
                @Html.ActionLink("Lista","Lista","Home")
            </ul>
        </nav>
    </header>
    <main>
    @RenderBody()
    </main>

    <footer>
        footerzin do teste
    </footer>
</body>
</html>
